@import './Theme.scss';

.sendEmail{
    
    text-align: center;
    color: $primaryColor;


    .title{

            text-align: center;
            color: $primaryColor;
            padding: 20px;
    }
    span{
            text-align: center;
            color: $lightBg;          
    }
}