@import './Theme.scss';

.logo{
    color: $primaryColor ;
    height: 5rem;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
    display: grid;
    background: $primaryColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    h2{
        margin: 0;
        font-size: 2rem;
        span{
            font-size: 3.5rem;
        }
    }
}
.logo2{
    color: $lightBg ;
    height: 5rem;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
    display: grid;
    background: $primaryColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    h2{
        margin: 0;
        font-size: 2rem;
        span{
            font-size: 2.5rem;
        }
    }
}
.navBg{
    background: $darkBg !important;
}
.navLink{
    a{
        text-decoration: none;
        color: $lightBg !important;
       
    }
}
.menu{
    background: $darkBg;
    backdrop-filter: blur(5px);
    .MuiPaper-root{
        width: 50%;
        height: 85%;
        background: $darkBg;
        backdrop-filter: blur(10px);
        .navLink{
            text-align: center !important;
            a{
                text-decoration: none;
                color: $lightBg !important;
                width: 100%;
                margin: 0px 15px 0px 0px;
                z-index: 1000;
                text-align: center !important;
            }
           
        }
    }
}