.wrapper {
  display: flex;
  max-width: 1800px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  margin-top: 10px;
}
.wrapper .innerWrapper {
  width: 100%;
  position: relative;
  top: 45%;
}
.wrapper .innerWrapper .css-jvy43q-MuiGrid-root {
  margin-left: 0 !important;
}

.card {
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: block;
  width: 400px;
  height: 550px;
  margin-bottom: 30px;
  background: #000000;
}
.card .cardTitle {
  text-align: center;
  color: #ff0000;
  padding: 20px;
}
.card .paper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: #ff0000;
  font-weight: 600;
}

.btnPrimary {
  border: 1px solid #ff0000;
  background: rgba(255, 0, 0, 0.1333333333);
  color: #ff0000;
  text-decoration: none;
  margin-bottom: 150px;
}

.logo {
  color: #ff0000;
  height: 5rem;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  display: grid;
  background: #ff0000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo h2 {
  margin: 0;
  font-size: 2rem;
}
.logo h2 span {
  font-size: 3.5rem;
}

.logo2 {
  color: #ffffff;
  height: 5rem;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  display: grid;
  background: #ff0000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo2 h2 {
  margin: 0;
  font-size: 2rem;
}
.logo2 h2 span {
  font-size: 2.5rem;
}

.navBg {
  background: #000000 !important;
}

.navLink a {
  text-decoration: none;
  color: #ffffff !important;
}

.menu {
  background: #000000;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.menu .MuiPaper-root {
  width: 50%;
  height: 85%;
  background: #000000;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.menu .MuiPaper-root .navLink {
  text-align: center !important;
}
.menu .MuiPaper-root .navLink a {
  text-decoration: none;
  color: #ffffff !important;
  width: 100%;
  margin: 0px 15px 0px 0px;
  z-index: 1000;
  text-align: center !important;
}

.footer {
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  color: #ff0000;
  margin-bottom: 20px;
  font-family: trajan-regular;
}
.footer .footerBody {
  margin: auto;
  text-align: center;
}
.footer .footerBody .iconContainer {
  display: flex;
  color: #ff0000 !important;
  justify-content: center;
  align-items: center;
  margin: auto;
}

body {
  color: #ffffff;
  background: #000000;
}

.heroContainer {
  position: relative;
  min-height: 91vh;
}
.heroContainer .heroBg {
  width: 100%;
  position: relative;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.heroContainer .heroBg .video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.path {
  animation: draw 6s infinite;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}
.heroContainer {
  height: 30vh;
}/*# sourceMappingURL=App.css.map */