.wrapper {
  display: flex;
  max-width: 1800px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  margin-top: 10px;
}
.wrapper .innerWrapper {
  width: 100%;
  position: relative;
  top: 45%;
}
.wrapper .innerWrapper .css-jvy43q-MuiGrid-root {
  margin-left: 0 !important;
}

.card {
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  width: 400px;
  height: 550px;
  margin-bottom: 30px;
  border-radius: 20px;
  background: linear-gradient(145deg, #262323, #2d2a2a);
  box-shadow: 31px 31px 61px #151414, -31px -31px 61px #3f3b3b;
}
.card:hover {
  scale: 1.1;
  transition: 0.3s ease-in-out;
  background: linear-gradient(145deg, #5b5959, #4d4b4b);
  box-shadow: 31px 31px 61px #2b2a2a, -31px -31px 61px #807d7d;
}
.card .paper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: 0.5s ease in;
  border-radius: 10px;
}

.logo {
  color: #3b5998;
  height: 5rem;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  display: grid;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(147, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo h2 {
  margin: 0;
  font-size: 2rem;
}
.logo h2 span {
  font-size: 3.5rem;
}

.logo2 {
  color: #d7e4ff;
  height: 5rem;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  display: grid;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(147, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo2 h2 {
  margin: 0;
  font-size: 2rem;
}
.logo2 h2 span {
  font-size: 2.5rem;
}

.navBg {
  background: rgba(255, 255, 255, 0.1294117647) !important;
}

.navLink a {
  text-decoration: none;
  color: #fff !important;
}

.menu {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.menu .MuiPaper-root {
  width: 50%;
  height: 85%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.menu .MuiPaper-root .navLink {
  text-align: center !important;
}
.menu .MuiPaper-root .navLink a {
  text-decoration: none;
  color: #ffffff !important;
  width: 100%;
  margin: 0px 15px 0px 0px;
  z-index: 1000;
  text-align: center !important;
}

body {
  color: #fff;
  background: linear-gradient(90deg, rgb(57, 54, 58) 0%, rgb(52, 45, 45) 50%, rgb(41, 38, 42) 100%);
}

.heroContainer {
  margin-bottom: 150px;
  position: relative;
}
.heroContainer .heroBg {
  width: 100%;
  background-image: url("./assets/images/home/1.png");
  position: relative;
  background-size: cover;
  height: 500px;
  margin-bottom: 50px;
}

.path {
  animation: draw 6s infinite;
}

@keyframes draw {
  50% {
    stroke-dashoffset: 0;
  }
}
.heroContainer {
  height: 30vh;
}/*# sourceMappingURL=App.css.map */