@import './assets/scss/Home.scss';
@import './assets/scss/Navbar.scss';
@import './assets/scss/Footer.scss';
@import './assets/scss/Gallery.scss';

body {

    color:$lightBg;
    background: $darkBg;
   
}
.heroContainer{
    // margin-bottom: 150px;
    position: relative;
    min-height: 91vh;
    .heroBg{
        width: 100%; 
        position: relative;
        background-size: cover;
        height: 100%;
        overflow: hidden;

        .video {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
          }
    }
}
.path {
animation: draw 6s infinite;
}

@keyframes draw {
50% {
    stroke-dashoffset: 0;
}
}
.heroContainer{
height: 30vh;
}