@import './assets/scss/Home.scss';
@import './assets/scss/Navbar.scss';

body {

    color:$lightBg;
    background: $darkBg;
   
}
.heroContainer{
    margin-bottom: 150px;
    position: relative;
    .heroBg{
        width: 100%;
        background-image: url('./assets/images/home/1.png');
        position: relative;
        background-size: cover;
        height: 500px;
        margin-bottom: 50px;
    }
}
.path {
animation: draw 6s infinite;
}

@keyframes draw {
50% {
    stroke-dashoffset: 0;
}
}
.heroContainer{
height: 30vh;
}