@import './assets/scss/Home.scss';
@import './assets/scss/Navbar.scss';

body {

    color: #fff;
    background: -moz-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgb(255, 255, 255) 50%, rgba(27,18,29,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(27,18,29,1) 0%, rgb(255, 255, 255) 50%, rgba(27,18,29,1) 100%);
    background: linear-gradient(90deg, rgba(27,18,29,1) 0%, rgb(47, 46, 46) 50%, rgba(27,18,29,1) 100%);
}
.bg  {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.path {
animation: draw 6s infinite;
}

@keyframes draw {
50% {
    stroke-dashoffset: 0;
}
}
.heroContainer{
height: 30vh;
}